:root{
    --box__background: linear-gradient(310deg, #131313 0%, #202020 100%);
    --heading__colour:white;
    --content__colour:#989598;
}
.About {
    width: 100%;
    padding: 1% 15%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 60px 190px 300px 250px;
    grid-template-columns: repeat(4, 250px);
    gap: 1vw;
    grid-template-areas: 
    "   item1   heading   heading   heading"
    "   item1   item2   item2   item2"
    "   item3   item3   item4   item4"
    "   item5   item6   item6   item7"
    ;
}
.background__colour{
    position: relative;
    background: var(--box__background);
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
}
.overflow__scroll{
    overflow-y: scroll;
}
.overflow__scroll::-webkit-scrollbar {
    display: none;
}
.star__background{
    opacity: 30%;
    position: absolute;
    top: 0;
}
.heading{
    color: var(--heading__colour);
    font-family: "Inter", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: -1px;
    grid-area: heading;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile__photo {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        border-radius: 25px;
    }
    
    .status {
        width: 50%;
        position: absolute;
        bottom: 10px; /* Distance from the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust to center the element */
        background: green;
        color: white; /* Text color */
        padding: 5px 15px;
        border-radius: 20px; /* Rounded corners */
        font-size: 14px; /* Font size */
        font-weight: bold; /* Bold text */
        font-family: "Inter", Sans-serif; /* Font family */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for a lifted effect */
        border: 2px solid #388e3c; /* Border to enhance the look */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.self__summary{
    background: var(--box__background);
    background-size: cover;
    grid-area: item2;
    h1{
        color: var(--heading__colour);
        font-family: "Inter", Sans-serif;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 2em;
        letter-spacing: -1px;
    }
    p{
        color: var(--content__colour);
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
}
.skills{
    grid-area: item3;
    color: var(--heading__colour);
    font-family: "Inter", Sans-serif;
    h1{
        margin-left: 0.5vw;
        margin-bottom: 0.5vw;
    }
    .skills__tecnology{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        div{
            font-style: italic;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            text-decoration: underline;
            p{
                text-align: center;
            }
        }
        img{
            object-fit: contain;
            object-position: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }  
    }
}
.education{
    grid-area: item4;
    color: var(--heading__colour);
    font-family: "Inter", Sans-serif;
    img{
        right: 20px;
    }
    h1{
        margin-left: 0.5vw;
    }
    div{
        width: 90%;
        margin: 1vw;
        padding: 3%;
        box-sizing: border-box;
        border-radius: 15px;
    }
}
.social__media{
    grid-area: item5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Linkedin{
        color: white;
        cursor: pointer;
    }
    .Linkedin:hover{
        color:#0A58CA ;
    }
    p{
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.connect{
    grid-area: item6;
    img{
        width: 3vw;
    }
    h1{
        padding: 2vw 0 0 2vw;
        font-family: "Inter", Sans-serif;
        font-size: 5vw;
        font-weight: 600;
        color: var(--heading__colour);
    }
    span{
        font-weight: 500;
        color: #0A58CA;
    }
    button {
        font-size: 60px;
        padding: 15px 35px; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        color: var(--content__colour);
        position: absolute;
        right: 0;
        bottom: 25px;
        right: 25px;
        cursor: pointer;
    }
    button:hover{
        color: var(--heading__colour);
    }
}
.Resume{
    grid-area: item7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .pdf_icon{
        color: var(--content__colour);
    }
    .pdf_icon:hover{
        color: red;
    }
    button{
        padding: 10px 20px;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: bold;
        background-color: #008000;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        color: white;
    }
}

