.Works {
    width: 100%;
    height: 80vh; /* Take full viewport height */
    padding: 1% 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    
    /* Dynamically adjust row height based on available space */
    grid-template-rows: 0.3fr repeat(5, minmax(0, 1fr)); 
    column-gap: 1vw;
    grid-template-areas: 
        "heading display"
        "project display"
        "project display"
        "project display"
        "project display"
        "project display";
}


.heading {
    grid-area: heading;
    color: white;
    text-align: start;
    text-transform: none;
    justify-content: start;
    text-decoration: underline;
    padding-left: 20px;
    font-size: 2vw;
}
.display {
    padding: 5px;
    grid-area: display;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    background: white;
}

/* Combine project classes to set height and grid areas */
[class^="project"] {
    height: 100%;
}

.tecnology{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    img{
        width: 1.5vw;
        height: 1.5vw;
    }
}
.project__option{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(310deg, #131313 0%, #202020 100%);
    border: 1px solid white;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        width: 100%;
        font-size: 1.5vw;
    }
    button{
        font-size: 3vw;
        color: var(--content__colour);
        background: none;
        border: none;
        cursor: pointer;
    }
    button:hover{
        color:white;
    }
}
/* Define the keyframes for the slide-in animation */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%); /* Start from off-screen to the right */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Move to its normal position */
        opacity: 1;
    }
}

/* Basic styling for the element */
.github__source__code {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 2vw;
    right: 0;
    width: 11vw;
    height: 5vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    background-color: white;
    border-radius: 5vw 0 0 5vw;
    transform: translateX(100%); /* Initially off-screen to the right */
    opacity: 0; /* Initially invisible */
    animation: slideInFromRight 0.5s ease forwards; /* Animation */
}

/* Hover effect */
.github__source__code:hover {
    background-color: greenyellow;
}

.github__source__code p {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    color: black;
}

.github__source__code .github_icon {
    color: black;
    width: 3.5vw;
    height: 3.5vw;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.github__source__code .github_icon:hover {
    background-color: black;
    color: white;
}