:root{
    --font:white;
}
body {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    padding-bottom: 60px; 
    box-sizing: border-box;
}
.footer{
    padding: 1%;
    box-sizing: border-box;
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Logo{
    display: flex;
        align-items: center;
        justify-content: center;
    img{
        width: 5vw;
    }
}
p{
    color: var(--font);
}
